<section>
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :autocomplete => :off }) do | f | %>
    <div>
      <%= f.label :email %>
      <%= "<span class='error'>#{resource.errors[:email][0]}</span>".html_safe if resource.errors[:email][0] %><br />
      <%= f.email_field :email %> 
    </div>

    <div>
      <%= f.label :background %>
      <%= "<span class='error'>#{resource.errors[:background][0]}</span>".html_safe if resource.errors[:background][0] %><br />
      <%= f.text_field :background %> 
    </div>

    <div>
      <%= f.label :password %>
      <i>(leave blank if you don't want to change it)</i>
      <%= "<span class='error'>#{resource.errors[:password][0]}</span>".html_safe if resource.errors[:password][0] %><br />
      <%= f.password_field :password %> 
    </div>

    <div>
      <%= f.label :password_confirmation %>
      <%= "<span class='error'>#{resource.errors[:password_confirmation][0]}</span>".html_safe if resource.errors[:password_confirmation][0] %><br />
      <%= f.password_field :password_confirmation %> 
    </div>

    <div>
      <%= f.label :current_password %>
      <i>(needed to confirm your changes)</i>
      <%= "<span class='error'>#{resource.errors[:current_password][0]}</span>".html_safe if resource.errors[:current_password][0] %><br />
      <%= f.password_field :current_password %>
    </div>

    <div><%= f.submit "Update" %></div>
  <% end %>
</section>