<section class="remove-when-searching">
  <h2>Settings</h2>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :autocomplete => :off }) do | f | %>
    <div id="left-col">
      <div>
        <%= f.label :email %>
        <%= "<span class='error'>#{resource.errors[:email][0]}</span>".html_safe if resource.errors[:email][0] %><br />
        <%= f.email_field :email %>
      </div>

      <div>
        <%= f.label :password %>
        <i>(leave blank if you don't want to change it)</i>
        <%= "<span class='error'>#{resource.errors[:password][0]}</span>".html_safe if resource.errors[:password][0] %><br />
        <%= f.password_field :password %>
      </div>

      <div>
        <%= f.label :password_confirmation %>
        <%= "<span class='error'>#{resource.errors[:password_confirmation][0]}</span>".html_safe if resource.errors[:password_confirmation][0] %><br />
        <%= f.password_field :password_confirmation %>
      </div>
    </div>

    <div id="right-col">
      <div class="register-checkbox">
        <label>Video Quality</label>
        <i>(could result in excessive buffering for slower connections)</i>
        <div class="register-checkbox-inner">
          <%= "<span class='error'>#{resource.errors[:hd][0]}</span>".html_safe if resource.errors[:hd][0] %><br />
          <%= f.check_box :hd, { :checked => current_user.hd ? 'checked' : '' }, 'true', 'false' %><%= f.label "Play videos in highest possible quality", :for => :user_hd, :class => 'normal-label' %>
        </div>
      </div>

      <div class="register-checkbox">
        <label>Resume last playlist</label>
        <i>(upon re-opening tubalr)</i>
        <div class="register-checkbox-inner">
          <%= "<span class='error'>#{resource.errors[:resume_last_playlist][0]}</span>".html_safe if resource.errors[:resume_last_playlist][0] %><br />
          <%= f.check_box :resume_last_playlist, { :checked => current_user.resume_last_playlist ? 'checked' : '' }, 'true', 'false' %><%= f.label "Resume last playlist when returning", :for => :user_resume_last_playlist, :class => 'normal-label' %>
        </div>
      </div>

      <div>
        <%= f.label "profile picture" %>
        <p class="no-input-field">
          We use <a href="https://en.gravatar.com/" target="_blank">Gravatar.com</a> to manage user profile pictures. So head <a href="https://en.gravatar.com/" target="_blank">over there</a> to manage yours or sign up if you're not already!
        </p>
      </div>

      <div>
        <%= f.label "favorite genres" %>
        <p>
          Select your favorite genres so we can help you and others discover music! We will use your favorite genre's to help you discover new artists and user generated playlists. Your custom playlists will also be discoverable by those with similar favorite genres.
        </p>
        <%= select_tag("favorite-genres-picker", options_for_select([''] + GENRES, current_user.favorite_genres), :name => 'user[favorite_genres][]', :multiple => true) %>
      </div>
    </div>

    <div class="clear"></div>

    <div><%= f.submit "Update" %></div>

    <div id="last-fm-settings">
      <h2>Last.fm</h2>
      <div>
        <p>
          <% if current_user.lastfm_session_key %>
            <p>
              Your last.fm account is connected, now start listening so we can scrobble for you!
            </p>
            <a href="/lastfm/revoke_access" class="button">Revoke Last.fm Access</a>
          <% else %>
            <p>
              If you'd like to enable scrobbling, you'll need to grant Tubalr access to your Last.fm account.
            </p>
            <a href="http://www.last.fm/api/auth/?api_key=<%= ENV["#{Rails.env.upcase}_LASTFM_API_KEY"] %>" class="button">Grant Last.fm Access</a>
          <% end %>
        </p>
      </div>
    </div>
  <% end %>
</section>

<script>
  $(document).ready(function () {
    $('#favorite-genres-picker').select2({
      placeholder: 'Select Interests',
      width: '410px'
    });
  });
</script>