<h2>Register</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <div>
    <%= f.label :username %><br />
    <%= f.text_field :username %> <%= "<span class='error'>#{resource.errors[:username][0]}</span>".html_safe if resource.errors[:username][0] %>
  </div>
  
  <div>
    <%= f.label :email %><br />
    <%= f.email_field :email %> <%= "<span class='error'>#{resource.errors[:email][0]}</span>".html_safe if resource.errors[:email][0] %>
  </div>

  <div>
    <%= f.label :music_tastes %><br/>
    <i>(this helps others discover your tubalr favorites)</i><br />
    <%= f.text_area :music_tastes %> <%= "<span class='error'>#{resource.errors[:music_tastes][0]}</span>".html_safe if resource.errors[:music_tastes][0] %>
  </div>

  <div>
    <%= f.label :password %><br />
    <%= f.password_field :password %> <%= "<span class='error'>#{resource.errors[:password][0]}</span>".html_safe if resource.errors[:password][0] %>
  </div>

  <div>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %> <%= "<span class='error'>#{resource.errors[:password_confirmation][0]}</span>".html_safe if resource.errors[:password_confirmation][0] %>
  </div>
  
  <div><%= f.submit "Sign up" %></div>
<% end %>
