<section>
  <h2>Change your password</h2>

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= f.hidden_field :reset_password_token %>

    <div>
      <%= f.label :password, "New password" %>
      <%= "<span class='error'>#{resource.errors[:password][0]}</span>".html_safe if resource.errors[:password][0] %><br />
      <%= f.password_field :password %> 
    </div>

    <div>
      <%= f.label :password_confirmation, "Confirm new password" %>
      <%= "<span class='error'>#{resource.errors[:password_confirmation][0]}</span>".html_safe if resource.errors[:password_confirmation][0] %><br />
      <%= f.password_field :password_confirmation %> 
    </div>

    <div><%= f.submit "Change my password" %></div>
  <% end %>

  <%= render :partial => "devise/shared/links" %>
</section>