<section class="remove-when-searching">
  <h2>Forgot your password?</h2>

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    <div>
      <%= f.label :email %>
      <%= "<span class='error'>#{resource.errors[:email][0]}</span>".html_safe if resource.errors[:email][0] %><br />
      <%= f.email_field :email %> 
    </div>

    <div><%= f.submit "submit" %></div>
  <% end %>

  <%= render :partial => "devise/shared/links" %>
</section>