<div class="tab-content playlists-tab-content">
  <% if @user.playlists.count != 0 %>
    <ul class="playlists with-playlist-art">
      <% @user.playlists.each do | playlist | %>
        <li id="<%= playlist.id %>" data-playlist-name="<%= playlist.playlist_name%>" data-playlist-art="<%= playlist.art %>">
          <a href="<%= "/#{@user.username}/playlist/#{url_encode(playlist.playlist_name)}" %>">
            <img class="art" src="<%= playlist.art == '' || playlist.art.nil? ? '/assets/no-art.png' : playlist.art %>"/>
            <span><%= playlist.playlist_name %></a></span>
            <% if @profile_owner %>
              <span class='custom-playlist-settings-open-dialog icon-wrench tooltip' original-title="Edit Playlist"></span>
            <% end %>
          </a>
        </li>
      <% end %>
    </ul>

    <%= render :partial => 'playlists/custom_playlist_settings' if @profile_owner %>
  <% else %>
    <p>
      <% if @profile_owner %>
        Looks like you currently have 0 playlists, starting using tubalr and click the playlist dropdown under the video player to get started!
      <% else %>
        This is a sad day, it turns out <%= "#{@user.username}" %> has 0 playlist.
      <% end %>
    </p>
  <% end %>
</div>

<%= render :partial => 'playlists/import_youtube_playlists' if @profile_owner %>