<section id="explore-main" class="remove-when-searching">
  <div id="tabs">
    <ul>
      <% if user_signed_in? %>
        <li class="tab me-tab" data-tab-name="me">Me <span class="icon-chevron-right"></span></li>
      <% end %>
      <li class="tab top-genres-tab" data-tab-name="top-genres">Top Genres <span class="icon-chevron-right"></span></li>
      <li class="tab all-genres-tab" data-tab-name="all-genres">All Genres<span class="icon-chevron-right"></span></li>
      <li class="tab reddit-tab" data-tab-name="reddit">Reddit Playlists <span class="icon-chevron-right"></span></li>
      <li class="tab"><a href='/random'>Random Playlist <span class="icon-random"></span></a></li>
    </ul>
  </div>

  <div id="tabs-contents">
    <% if user_signed_in? %>
      <div class="tab-content me-tab-content">
        <h2>
          My Favorite Genres
        </h2>

        <% if current_user.favorite_genres.count != 0 %>
          <ul class="list">
            <% current_user.favorite_genres.each do | genre | %>
              <li><a href='/just/<%= genre %>'><%= genre %></a></li>
            <% end %>
          </ul>
        <% else %>
          <p>
            You should pick some favorite genres, not only will they be handy in this section but they will help us suggest new music for you. Head over to <a href="/users/edit">your settings</a> and let us know your favorites!
          </p>
        <% end %>

        <h2>My Playlists</h2>

        <p>
            <b>TIP:</b> You can import your YouTube playlists or other users YouTube playlist, head over to <a href="<%= "/#{current_user.username}/profile" %>">your profile</a> to get started.
        </p>

        <% if current_user.playlists.count != 0 %>
          <ul class="list">
            <% current_user.playlists.each do | playlist | %>
              <li>
                <a href="<%= "/#{current_user.username}/playlist/#{url_encode(playlist.playlist_name)}" %>"><%= playlist.playlist_name %></a>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p>
            Looks like you currently have 0 playlists, starting using tubalr and click the playlist dropdown under the video player to get started!
          </p>
        <% end %>
      </div>
    <% end %>

    <div class="tab-content top-genres-tab-content">
      <h2>
        Top Genres
      </h2>

      <ul class="list">
        <% TOP_GENRES.each do | genre | %>
          <li><a href='/just/<%= genre %>'><%= genre %></a></li>
        <% end %>
      </ul>
    </div>

    <div class="tab-content all-genres-tab-content">
      <h2>
        All Genres
      </h2>

      <ul class="list">
        <% GENRES.each do | genre | %>
          <li><a href='/just/<%= genre %>'><%= genre %></a></li>
        <% end %>
      </ul>
    </div>

    <div class="tab-content reddit-tab-content">
      <h2>
        Reddit Generated Playlists
      </h2>

      <p>
        These playlists are genered by using posts made on a popular link sharing website known as <a href="http://www.reddit.com/">Reddit</a>. Each listing represents a community on Reddit and these are the "hot" links for each one at any given time.
        <br/></br>
        <b>TIP:</b> Don't see the subreddit you're looking for? You can search for it on the main page by typing something like  '/r/video'. Or navigate to a url like 'www.tubalr.com/r/video' in your browsers URL bar.
      </p>

      <% REDDIT.each do | r | %>
        <h3><%= r[:category] %></h3>
        <ul class="list">
          <% r[:subreddits].each do | sr | %>
            <li><a href='<%= sr %>'><%= sr %></a></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>

  <div class="clear"></div>
</section>

<div id="mobile-promo" class="remove-when-searching">
  <a href="https://play.google.com/store/apps/details?id=com.iheanyiekechukwu.tubalr" target="_blank"><img alt="Android app on Google Play" src="/assets/google-play.png" /></a>
</div>