<section id="loading-playlist">Loading...</section>

<section id="empty-playlist">o_O This playlist has 0 videos... this is kinda weird.</section>

<section id="player">
  <% if !@dj %>
    <aside id="share-playlist">
      <span id="share-on-twitter" class="icon-twitter tooltip" original-title="Share on twitter."></span>
      <span id="share-on-facebook" class="icon-facebook tooltip" original-title="Share on facebook."></span>
    </aside>
  <% end %>

  <h2 id="current-video-title"></h2>

  <div id="video-and-playlist" class="<%= 'no-playlist' if @dj %>">
    <div id="ytplayerid"></div> 
    <ul id="playlist"></ul>
  </div>

  <% if !@dj %>
    <div id="player-controls">
      <div id="player-controls-right">
        <a href="#" id="add-songs" class="button tooltip" original-title="Search for videos to add to the current playlist."><span class="icon-plus"></span></a>
        <a href="#" class="shuffle button tooltip" original-title="Shuffle"><span class="icon-random"></span></a>
        <a href="#" id="previous" class="button tooltip" original-title="Previous">&nbsp;<span class="icon-step-backward"></span></a>
        <a href="#" id="next" class="button tooltip" original-title="Next"><span class="icon-step-forward"></span>&nbsp;</a>
      </div>
      
      <div id="player-controls-left">
        <% if user_signed_in? %>
          <input type="button" id="dj-mode-button" class="enter-dj-mode button tooltip" original-title="Go LIVE and let others listen along with you!" data-dj-username="<%= dj_username %>" value="Enter DJ Mode"/>

          <%= select_tag "add-to-playlist-dropdown", options_for_select([[nil, nil],['(+) Create New Playlist', 'new']] + current_user.playlists.map{ | p | [p.playlist_name, p.id, { "data-test" => "derp" }]}), { "data-placeholder" => "Add to Playlist" } %>       
          <span id="create-new-playlist">
            <input type="text"    id="create-new-playlist-name"   placeholder="Enter New Playlist Name..."/>
            <input type="button"  id="create-new-playlist-submit" value="Create"/>
            <input type="button"  id="create-new-playlist-cancel" value="Cancel"/>
          </span>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if user_signed_in? %>
    <div id="djing">
      <h2>You're LIVE!</h2>

      <p>
        You can share this url with friends to have them listen along with you: <b>http://www.tubalr.com/dj/<%=dj_username %></b>
      </p>

      <h3>NOTE:</h3>

      <ul>
        <li>If you seek ahead in a video, connected users will not be updated of the new position.</li>
        <li>Switching songs will update the connected users so they're listening to the same song.</li>
        <li>You can perform any search using the search box at the top of the page to change what your listening too.</li>
        <li>This is extremly early beta and there could be issues, run into anything weird shoot an email to <a href="mailto:listen.to.tubalr@gmail.com">listen.to.tubalr@gmail.com</a></li>
      </ul>
    </div>
  <% end %>
</section>

<div id='popup-search'>
  <p>
    Enter an artist/band below, or search for a specific song. Then drag videos into your playlist!
  </p>

  <input type="text" placeholder="search for artists or bands" id="popup-search-query"/>
  <button id="search-popup-btn"><span class="icon-search"></span></button>
  
  <div id='popup-search-results-holder'>
    <ul id='popup-search-results'></ul>
  </div>
</div>

<%= javascript_tag do %>
  Playlist.init(<%= search_options %>);
<% end if request.path.index("/similar/") || request.path.index("/video/") || request.path.index("/r/") ||
          request.path.index("/genre/")  || request.path.index("/just/") || @playlist_name || @dj %>
