<div id="listening-options" class="remove-when-searching">
  <div id="type-of-music">
    <div id="type-of-music-inner-container">
      <h2>What type of music would you like to listen to?</h2>
      <ul>
        <li><a href='/r/dubstep'>Dubstep</a></li>
        <li><a href='/r/electronic'>Electronic</a></li>
        <li><a href='/r/electronicmagic'>Electronic Magic</a></li>
        <li><a href='/r/electrohouse'>Electro House</a></li>
        <li><a href='/r/house'>House</a></li>
        <li><a href='/r/techno'>Techno</a></li>
        <li><a href='/r/trance'>Trance</a></li>
        <li><a href='/r/HipHopHeads'>Hip Hop</a></li>
        <li><a href='/just/jazz'>Jazz</a></li>
        <li><a href='/just/chillwave'>Chillwave</a></li>
        <li><a href='/r/punk'>Punk</a></li>
        <li><a href='/r/metal'>Metal</a></li>
        <li><a href='/r/progmetal'>Prog. Metal</a></li>
        <li><a href='/r/postrock'>Post Rock</a></li>
        <li><a href='/r/indie_rock'>Indie Rock</a></li>
        <li><a href='/just/indie+folk'>Indie Folk</a></li>
        <li><a href='/random' class="im-feeling-lucky">I'm Feeling Lucky</a></li>
      </ul>
    </div>
  </div>

  <span id="or">- or -</span>

  <div id="search-for-music">
    <div id="search-for-music-inner-container">
      <h2>Search for something yourself:</h2>
      <form id="search-for-music-form" onSubmit="return false;">
        <input type="text" name="q" autocomplete="off" id="q" class="small" value="<%= params[:artist_band].gsub('+',' ') if params[:artist_band].present? %>" tabindex="1" placeholder="search for artists or bands"/>
        <input type="button" name="just" value="only" class="small call-to-action just tooltip" tabindex="2" original-title="This search method is to search for a single artist or band."/>
        <input type="button" name="similar" value="similar" class="small call-to-action similar tooltip" tabindex="3" original-title="This search method will find artists and bands similar to your search."/>
      </form>
      <a href="/subreddits" class="bottom-link">Full Subreddit List</a> <a href="/genres" class="bottom-link">Full Genre List</a>
    </div>
  </div>

  <div class="clear"></div>
</div>

<div id="curated-by-cody">
  <h2>Curated by Cody</h2>
  <ul class="playlists with-playlist-art">
    <% (User.exists?(27928) ? User.find(27928).playlists : []).each do | playlist | %>
      <li id="<%= playlist.id %>">
        <a href="<%= "/#{playlist.user.username}/playlist/#{url_encode(playlist.playlist_name)}" %>">
          <img class="art" src="<%= playlist.art == '' || playlist.art.nil? ? '/assets/no-art.png' : playlist.art %>"/>
          <span><%= playlist.playlist_name %></a></span>
        </a>
      </li>
    <% end %>
  </ul>
</div>
