<section id="explore-main" class="remove-when-searching">
  <h2>Explore</h2>

  <div id="tabs">
    <ul>
      <li class="tab top-genres-tab" data-tab-name="top-genres">Top Genres <span class="icon-chevron-right"></span></li>
      <li class="tab all-genres-tab" data-tab-name="all-genres">All Genres<span class="icon-chevron-right"></span></li>
      <li class="tab reddit-tab" data-tab-name="reddit">Reddit Playlists <span class="icon-chevron-right"></span></li>
      <li class="tab live-djs-tab" data-tab-name="live-djs">Live DJs <span class="icon-chevron-right"></span></li>
    </ul>
  </div>

  <div id="tabs-contents">
    <div class="tab-content top-genres-tab-content">
      <h2>
        Top Genres
      </h2>

      <ul class="list">
        <% TOP_GENRES.each do | genre | %>
          <li><a href='/just/<%= genre %>'><%= genre %></a></li>
        <% end %>
      </ul>
    </div>

    <div class="tab-content all-genres-tab-content">
      <h2>
        All Genres
      </h2>

      <ul class="list">
        <% GENRES.each do | genre | %>
          <li><a href='/just/<%= genre %>'><%= genre %></a></li>
        <% end %>
      </ul>
    </div>

    <div class="tab-content reddit-tab-content">
      <h2>
        Reddit Generated Playlists
      </h2>

      <p>
        These playlists are genered by using posts made on a popular link sharing website known as <a href="http://www.reddit.com/">Reddit</a>. Each listing represents a community on Reddit and these are the "hot" links for each one at any given time.
        <br/></br>
        <b>TIP:</b> Don't see the subreddit you're looking for? You can search for it on the main page by typing something like  '/r/video'. Or navigate to a url like 'www.tubalr.com/r/video' in your browsers URL bar.
      </p>

      <% REDDIT.each do | r | %>
        <h3><%= r[:category] %></h3>
        <ul class="list">
          <% r[:subreddits].each do | sr | %>
            <li><a href='<%= sr %>'><%= sr %></a></li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <div class="tab-content live-djs-tab-content">
      <h2>
        Live DJs
      </h2>

      <ul class="list djs-list"></ul>
    </div>
  </div>

  <div class="clear"></div>
</section>