<section>
  <h2>
    recent search history
  </h2>
  <table>
    <thead>
      <tr>
        <td>Artist/Band</td>
        <td>Search Type</td>
        <td>When</td>
      </tr>
    </thead>
    <tbody>
      <% @recent_searches.each do | search | %>
        <tr data-url="<%= search[:url] %>" class="clickable-row">
          <td><%= search[:what] %></td>
          <td><%= search[:type] %></td>
          <td><%= time_ago_in_words(search[:date]) %> ago</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>

<section> 
  <h2>
    recently created playlists
  </h2>
  <table>
    <tbody>
      <% @recent_playlists.each do | playlist | %>
        <tr>
          <td><%= "<a href='#{playlist[:owner_url]}' target='_blank'><b>#{playlist[:owner]}</b></a> created <a href='#{playlist[:url]}' target='_blank'><b>#{playlist[:name]}</b></a> #{time_ago_in_words(playlist[:date])} ago".html_safe %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>

<section> 
  <h2>
    recent videos added to playlists
  </h2>
  <table>
    <tbody>
      <% @recent_videos_added_to_playlists.each do | video | %>
        <tr>
          <td><%= "<a href='#{video[:owner_url]}' target='_blank'><b>#{video[:owner]}</b></a> added <a href='#{video[:url]}' target='_blank'><b>#{video[:title]}</b></a> to their <a href='#{video[:playlist_url]}' target='_blank'><b>#{video[:playlist_name]}</b></a> playlist #{time_ago_in_words(video[:date])} ago".html_safe %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>

<div id="explore">
  <section id="trending-artists">
    <h2>trending artists</h2>
    <ul id="trending-artists-list" class="loading-list"></ul>
    <script>$('#trending-artists-list').trendingArtists({ limit: 40, font_page: false });</script>
  </section>
  
  <section id="top-genres">
    <h2>top genres</h2>
    <ul id="top-genres-list" class="loading-list"></ul>
    <script>$('#top-genres-list').topGenres({ limit: 40, font_page: false });</script>
  </section>
  
  <section id="recently-watched">
    <h2>
      Recently Watched
    </h2>
    <ul id="recently-watched-list" class="loading-list"></ul>
    <script>$('#recently-watched-list').recentlyWatched({ limit: 40, font_page: false });</script>
  </section>
</div>