<form id="listenForm" onSubmit="return false;"> 
  <input type="text" name="q" id="q" value="<%= (params[:artist_band] ? params[:artist_band].gsub('+',' ') : 'Enter Artist or Band Here') %>" tabindex="1"/>
  <input type="button" name="just" value="Only" class="listen just" tabindex="2"/>
  <input type="button" name="similar" value="Similar" class="listen similar" tabindex="3"/><br/>
</form>

<section id="about" class='middle-tooltip <%= 'middle-tooltip-hide'.html_safe if request.path.index("just") || request.path.index("similar") || request.path.index("video") || request.path.index("genre") || request.env['PATH_INFO'].include?("playlist/") %>'>
  <% if !user_signed_in? %>
    Howdy, friend, wondering what Tubalr is? Tubalr allows you to effortlessly listen to a band's or artist's top YouTube videos without
    all the clutter YouTube brings. To get started just type a band's or artist's name into the search box and select
    only or similar. <i>Oh, and if you're interested in making custom playlists videos, <a href='/users/sign_up'>register</a> an account, it's easy!</i> 
  <% else %>
    Welcome back, friend! Thanks for being a registered user.
  <% end %>
</section>

<section id="empty-playlist" class='middle-tooltip'>
  o_O This playlist has 0 videos... this is kinda weird.
</section>

<section id="player">
  <aside id="icons">
    <% if user_signed_in? %><a href="#" id="playlists-opener"></a><% end %>
    <a href="#" id="info-icon"></a>
	</aside>
	<div id="ytplayerid"></div> 
	<div id="player-controls">
    <a href="#" id="remove-video">remove video</a>
	  <a href="#" id="next">next</a>
    <a href="#" id="previous">previous</a>
	</div>
</section>

<section id="playlist">
  <aside id="share">
    Share this playlist: <a href="#" id="facebook" onClick="facebook()"></a> <a href="" id="twitter"></a>
	</aside>
	<div id="the-list"></div>
</section>

<div id="share-video">
  <div class='facebook'>share on facebook</div>
  <div class='twitter'>tweet on twitter</div>
  <input type='text' class='url' readonly></div>
</div>

<aside id="info"></aside>

<% if user_signed_in? %>
  <div id="playlists-dialog" data-video-to-add-to-playlist="">    
    Pick a playlist below to add "<b id="video-to-add-to-playlist-title"></b>" to.
    
    <% if current_user.playlists.count == 0 %>
      <div id="no-playlists">
        You currently have 0 playlist, create one below.
      </div>
    <% end %>
    
    <ul id="playlists">
      <% current_user.playlists.each do | playlist | %>
        <li data-playlist-id="<%= playlist.id %>"><%= playlist.playlist_name %></li>
      <% end %>
    </ul>  
    
    <div id="create-new-playlist">
      <div id="create-playlist-status">
        <span id="creating-playlist">We're creating your new playlist!</span>
        <span id="playlist-created">Your new playlist is ready and should be above!</span>
        <span id="playlist-already-exist">You already have a playlist with that name!</span>
      </div>
      
      <div id="create-playlist-form">
        <input type="text"    id="new-playlist-name" placeholder="Enter new playlist name here...">
        <input type="button"  id="create-new-playlist-button" value="Create New Playlist">
        <input type="button"  id="cancel-create-new-playlist-button" value="Cancel">
      </div>
    </div>
  </div>
<% end %>

<script>
  <%= "setUserInfo(#{current_user.id}, '#{escape_javascript(current_user.username)}')"            if user_signed_in?                                            %>
  <%= "just('#{escape_javascript(params[:artist_band])}');"                                       if request.path.index("just") || request.path.index("genre")  %>
  <%= "video('#{escape_javascript(params[:video_id])}');"                                         if request.path.index("video")                                %>
  <%= "similarTo('#{escape_javascript(params[:artist_band])}');"                                  if request.path.index("similar")                              %>
  <%= "userPlaylist('#{escape_javascript(@username)}','#{url_encode(escape_javascript(@playlist_name))}');"   if @playlist_name                                             %>
</script>