<form id="listenForm" onSubmit="return false;"> 
  <input type="text" name="q" id="q" value="<%= (params[:artist_band] ? params[:artist_band].gsub('+',' ') : 'Enter Artist or Band Here') %>" tabindex="1"/>
  <input type="button" name="just" value="Only" class="listen just" tabindex="2"/>
  <input type="button" name="similar" value="Similar" class="listen similar" tabindex="3"/>
</form>

<section id="about" class='middle-tooltip' <%= 'style="display: none;"'.html_safe if request.path.index("just") || request.path.index("similar") || request.env['PATH_INFO'].include?("favorites") %>>
  <span class="tooltip-tip"></span>
  Howdy, friend, wondering what Tubalr is? Tubalr allows you to effortlessly listen to a band's or artist's top YouTube videos without
  all the clutter YouTube brings. To get started just type a band's or artist's name into the search box and select
  only or similar. <% if !user_signed_in? %> Oh, and if you're interested in saving your favorite videos, <a href='/users/sign_up'>register</a> an account, it's easy! <% end %>
</section>

<section id="empty-playlist" class='middle-tooltip'>
  <span class="tooltip-tip"></span>
  <p class="users-favorites">Woahhhh, you currently have 0 favorites, start using tubalr and marking your favorite videos!</p>
  <p class="bystander">Doh! This user currently has 0 favorites, tell them to get some and check back later!</p>
</section>

<section id="player">
  <% if user_signed_in? %><a href="#" id="favorite-star" class="fav"></a><% end %>
	<div id="ytplayerid"></div> 
  <nav> 
    <a href="#" id="next" onClick="nextSong();">next</a>
    <a href="#" id="prev" onClick="previousSong();">previous</a> 
  </nav>
</section>

<section id="playlist">
  <aside id="share">
    Share this playlist: <a href="#" id="facebook" onClick="facebook()"></a> <a href="" id="twitter"></a>
	</aside>
	<div id="the-list"></div>
</section>

<script>
  <%= "setUserInfo(#{current_user.id}, '#{current_user.username}')" if user_signed_in? %>
  <%= "just('#{params[:artist_band]}');" if request.path.index("just") %>
  <%= "similarTo('#{params[:artist_band]}');" if request.path.index("similar") %>
  <%= "userFavorites('#{@username}');" if request.env['PATH_INFO'].include?("favorites") %>
</script>