<form id="listenForm" onSubmit="return false;"> 
  <input type="text" name="q" id="q" value="<%= params[:artist_band].gsub('+',' ') if params[:artist_band].present? %>" tabindex="1" placeholder="search for artists or bands"/>
  <input type="button" name="just" value="only" class="listen just" tabindex="2"/>
  <input type="button" name="similar" value="similar" class="listen similar" tabindex="3"/><br/>
</form>

<% if !request.path.index("similar") && !request.path.index("just") && !request.path.index("video") && !request.path.index("genre") && !@playlist_name  %>
  <div id="explore">
    <section id="trending-artists">
      <h2>trending artists</h2>
      <ul id="trending-artists-list" class="loading-list"></ul>
      <script>$('#trending-artists-list').trendingArtists({ limit: 10, font_page: true });</script>
    </section>
    
    <section id="top-genres">
      <h2>top genres</h2>
      <ul id="top-genres-list" class="loading-list"></ul>
      <script>$('#top-genres-list').topGenres({ limit: 10, font_page: true });</script>
    </section>
  </div>
<% end %>

<section id="empty-playlist">
  o_O This playlist has 0 videos... this is kinda weird.
</section>

<section id="player">
	<div id="ytplayerid"></div> 
	
	<div id="player-controls">
	  <div id="player-controls-right">
      <input type="button" id="previous" value="&#8249; prev"/>
        <input type="button" id="next" value="next &#8250;"/>
    </div>
    <div id="player-controls-left">
      <input type="button" id="remove-video" value="remove"/>
      <input type="button" id="info-icon" value="info"/>
      <input type="button" id="playlists-opener" value="add to playlist"/>
    <div>
	</div>
	
	<aside id="info"></aside>
	
	<h3 id="playlist-header">
	  <aside id="share">
      share playlist on <a href="#" id="facebook" onClick="facebook()">facebook</a> or <a href="" id="twitter">twitter</a>
  	</aside>
  	
	  the playlist
	</h3>
	
	<div id="playlist"></div>
</section>

<div id="share-video">
  <div class='facebook'>share on facebook</div>
  <div class='twitter'>tweet on twitter</div>
  <input type='text' class='url' readonly></div>
</div>

<% if user_signed_in? %>
  <div id="playlists-dialog" data-video-to-add-to-playlist="">    
    Pick a playlist below to add "<b id="video-to-add-to-playlist-title"></b>" to.
    
    <% if current_user.playlists.count == 0 %>
      <div id="no-playlists">
        You currently have 0 playlist, create one below.
      </div>
    <% end %>
    
    <ul id="playlists">
      <% current_user.playlists.each do | playlist | %>
        <li data-playlist-id="<%= playlist.id %>"><%= playlist.playlist_name %></li>
      <% end %>
    </ul>  
    
    <div id="create-new-playlist">
      <div id="create-playlist-status">
        <span id="creating-playlist">We're creating your new playlist!</span>
        <span id="playlist-created">Your new playlist is ready and should be above!</span>
        <span id="playlist-already-exist">You already have a playlist with that name!</span>
      </div>
      
      <div id="create-playlist-form">
        <input type="text"    id="new-playlist-name" placeholder="Enter new playlist name here...">
        <input type="button"  id="create-new-playlist-button" value="Create New Playlist">
        <input type="button"  id="cancel-create-new-playlist-button" value="Cancel">
      </div>
    </div>
  </div>
<% else %>
  <div id="register-to-use-playlists">
    You must <a href="/users/sign_up"><b>register</b></a> an account or <a href="/users/sign_in"><b>login</b></a> to save videos to custom playlists!
  </div>
<% end %>

<script>
  <%= "setUserInfo(#{current_user.id}, '#{escape_javascript(current_user.username)}')"                      if user_signed_in?                                            %>
  <%= "just('#{escape_javascript(params[:artist_band])}');"                                                 if request.path.index("just") || request.path.index("genre")  %>
  <%= "video('#{escape_javascript(params[:video_id])}');"                                                   if request.path.index("video")                                %>
  <%= "similarTo('#{escape_javascript(params[:artist_band])}');"                                            if request.path.index("similar")                              %>
  <%= "userPlaylist('#{escape_javascript(@username)}','#{url_encode(escape_javascript(@playlist_name))}');" if @playlist_name                                             %>
</script>