<section class="remove-when-searching">
  <% if !request.path.index("similar")  && !request.path.index("just")  && !request.path.index("video") && !request.path.index("genre") && !request.path.index("r/") && !@playlist_name  %>
    <div id="tabs">
      <ul>
        <li class="tab whats-hot-tab" data-tab-name="whats-hot">What's Hot</li>
        <li class="tab my-playlists-tab" data-tab-name="my-playlists">My Playlists</li>
        <li class="tab genres-tab" data-tab-name="genres">Genres</li>
        <li class="tab reddit-tab" data-tab-name="reddit">Reddit Playlists </li>
        <li class="tab history-tab" data-tab-name="history">Recently Viewed</li>
        <li class="tab"><a href='/random'>Random Playlist</a></li>
      </ul>
    </div>

    <div id="tabs-contents">
      <div class="tab-content whats-hot-tab-content">
        <% if user_signed_in? %>

          <% if current_user.favorite_genres.count == 0 %>
            <p>
              It looks like you haven't told us what your favorite genres are, to get some music recommendations head over to <a href="/users/edit">your settings page</a> and pick some favorite genres!
            </p>
          <% else %>
            <p>
              The below artists are based off your favorite genres(<a href="/users/edit">edit</a>): <%= current_user.favorite_genres.pluck(:name).join(', ') %>.
            </p>
          <% end %>

          <script>
            $(document).ready(function () {
              WhatsHot.init({
                count:  <%= (current_user.favorite_genres.count == 0 ? '2' : '10') %>,
                genres: <%= (current_user.favorite_genres.count == 0 ? 'null' : array_or_string_for_javascript(current_user.favorite_genres)) %>,
                el:     $('.whats-hot-list')
              });
            });
          </script>

        <% else %>

          <p>
            To get music recommendations, <a href="/users/sign_up">sign up</a> for an account and tell us your favorite genres!
          </p>

          <script>
            $(document).ready(function () {
              WhatsHot.init({
                count:  2,
                el:     $('.whats-hot-list')
              });
            });
          </script>

        <% end %>
        <ul class="playlists whats-hot-list album-cover-list"></ul>
      </div>

      <div class="tab-content my-playlists-tab-content">
        <% if user_signed_in? %>
            <p>
              <b>TIP:</b> You can import your YouTube playlists or other users YouTube playlist. Head over to <a href="<%= "/#{current_user.username}/profile" %>">your profile</a> to get started.
            </p>

            <% if current_user.playlists.count != 0 %>
              <ul class="playlists">
                <% current_user.playlists.each do | playlist | %>
                  <li>
                    <a href="<%= "/#{current_user.username}/playlist/#{url_encode(playlist.playlist_name)}" %>"><%= playlist.playlist_name %></a>
                  </li>
                <% end %>
              </ul>
            <% else %>
              <p>
                Looks like you currently have 0 playlists, starting using tubalr and click the playlist dropdown under the video player to get started!
              </p>
            <% end %>
        <% else %>
          <p>
            To create custom playlists, <a href="/users/sign_up">sign up</a> for an account!
          </p>
        <% end %>
      </div>

      <div class="tab-content genres-tab-content">
        <h3>My Favorite Genres</h3>
        <% if user_signed_in? %>
          <% if current_user.favorite_genres.count != 0 %>
            <ul class="playlists">
              <% current_user.favorite_genres.each do | genre | %>
                <li><a href='/just/<%= genre %>'><%= genre %></a></li>
              <% end %>
            </ul>
          <% else %>
            <p>
              You currently have 0 favorite genres, head to <a href="/users/edit">your settings page</a> and pick some favorite genres!
            </p>
          <% end %>
        <% else %>
          <p>
            To have quick acccess to your favorite genres, <a href="/users/sign_up">sign up</a> for an account and tell us your favorites!
          </p>
        <% end %>

        <h3>All Genres</h3>
        <ul class="playlists">
          <% GENRES.each do | genre | %>
            <li><a href='/just/<%= genre %>'><%= genre %></a></li>
          <% end %>
        </ul>
      </div>

      <div class="tab-content reddit-tab-content">
        <p>
          These playlists are genered by using posts made on a popular link sharing website known as <a href="http://www.reddit.com/">Reddit</a>. Each listing represents a community on Reddit and these are the "hot" links for each one at any given time.
          <b>TIP:</b> <i>Don't see the subreddit you're looking for? You can search for it on the main page by typing something like  '/r/video'. Or navigate to a url like 'www.tubalr.com/r/video' in your browsers URL bar.</i>
        </p>

        <% REDDIT.each do | r | %>
          <h3><%= r[:category] %></h3>
          <ul class="playlists">
            <% r[:subreddits].each do | sr | %>
              <li><a href='<%= sr %>'><%= sr %></a></li>
            <% end %>
          </ul>
        <% end %>
      </div>

      <div class="tab-content history-tab-content">
        <ul id="history-list" class="playlists">
        </ul>
      </div>
    </div>

    <div class="clear"></div>

    <div id="built-by">
      <a href="https://twitter.com/codyjackstewart" class="twitter-follow-button" data-show-count="true">@codyjackstewart</a>
    </div>
  <% end %>
</section>
