
<% if @user.present? %>
  <%= render :partial => 'import_youtube_playlists' if @playlist_owner %>

  <section id="playlists-main">
    <h2><%= @playlist_owner ? "my" : "#{@user.username}'s" %> playlists</h2>

    <% if @user.playlists.count != 0 %>
      <ul>
        <% @user.playlists.each do | playlist | %>
          <li><a href="<%= "/#{@user.username}/playlist/#{url_encode(playlist.playlist_name)}" %>"><%= playlist.playlist_name %></li>
        <% end %>
      </ul>
    <% else %>
      <% if @playlist_owner %>
        <span id="no-playlists">
          Looks like you currently have 0 playlists, starting using tubalr and click the 
          playlist dropdown under the video player to get started!
        </span>
      <% else %>
        This is a sad day, it turns out <%= "#{@user.username}" %> has 0 playlist.
      <% end %>
    <% end %>
  <% else %>
    <h2>user missing in action!</h2>
    
    <p>
      Looks like there's no user with the name <b><%= params[:username] %></b>. 
      Make sure you spelled it right and give it another go. If the user's 
      still MIA, shoot and email to <a href="mailto:listen.to.tubalr@gmail.com">listen.to.tubalr@gmail.com</a> 
      and we'll see if we can track this user down!
    </p>
  </section>
<% end %>