<section id="playlists-main">
  <% if @user.present? %>
    <h2><%= user_signed_in? && @user.username == current_user.username ? "My" : "#{@user.username}'s" %> Playlists</h2>
    
    <% if @user.playlists.count != 0 %>
      <% if user_signed_in? && @user.username == current_user.username %>
        These are your current playlist, to make new ones just start using Tubalr and 
        click the playlist icon to the right of the video player.
      <% end %>
      
      <ul>
        <% @user.playlists.each do | playlist | %>
          <li><a href="<%= "/#{@user.username}/playlist/#{url_encode(playlist.playlist_name)}" %>"><%= playlist.playlist_name %></li>
        <% end %>
      </ul>
    <% else %>
      <% if user_signed_in? && @user.username == current_user.username %>
        Looks like you currently have 0 playlists, starting using tubalr and click the playlist icon to the right of the video player to get started!
      <% else %>
        This is a sad day, it turns out <%= "#{@user.username}" %> has 0 playlist.
      <% end %>
    <% end %>
  <% else %>
    <h2>User Missing In Action!</h2>
    
    <p>
      Looks like there's no user with the name <b><%= params[:username] %></b>. 
      Make sure you spelled it right and give it another go. If the user's 
      still MIA, shoot and email to <a href="mailto:listen.to.tubalr@gmail.com">listen.to.tubalr@gmail.com</a> 
      and we'll see if we can track this user down!
    </p>
  <% end %>
</section>