<section id="stats-main">
  <h2>
    Overall Stats
  </h2>
  <table id="general">
    <tbody>
      <% @overall_stats.each do | stat | %>
        <tr>
          <td><%= stat[0] %></td><td><%= number_with_delimiter(stat[1], :delimiter => ',') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <h2>
    Past 7 Days
  </h2>
  <table id="general">
    <tbody>
      <% @past_7_days_stats.each do | stat | %>
        <tr>
          <td><%= stat[0] %></td><td><%= number_with_delimiter(stat[1], :delimiter => ',') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
    
  <h2>
    Today
  </h2>
  <table id="general">
    <tbody>
      <% @today_stats.each do | stat | %>
        <tr>
          <td><%= stat[0] %></td><td><%= number_with_delimiter(stat[1], :delimiter => ',') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
    
  <h2>
    Most Recent Search History
  </h2>
  <table>
    <thead>
      <tr>
        <td>Artist/Band</td>
        <td>Search Type</td>
        <td>When</td>
      </tr>
    </thead>
    <tbody>
      <% @recent_searches.each do | search | %>
        <tr url="<%= search[:url] %>">
          <td><%= search[:what] %></td>
          <td><%= search[:type] %></td>
          <td><%= time_ago_in_words(search[:date]) %> ago</td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <h2>
    Recently Created Playlists
  </h2>
  <table>
    <tbody>
      <% @recent_playlists.each do | playlist | %>
        <tr url="<%= playlist[:url] %>">
          <td><%= "#{playlist[:owner]} created <b>#{playlist[:name]}</b> #{time_ago_in_words(playlist[:date])} ago".html_safe %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <h2>
    Recent Videos Added to Playlists
  </h2>
  <table>
    <tbody>
      <% @recent_videos_added_to_playlists.each do | video | %>
        <tr url="<%= video[:url] %>">
          <td><%= "#{video[:owner]} added <b>#{video[:title]}</b> to their <b>#{video[:playlist_name]}</b> playlist #{time_ago_in_words(video[:date])} ago".html_safe %></td>
        </tr>
      <% end %>
    </tbody>
  </table>  
</section>