<section id="stats-main">
  <h2>
    Overall Stats
  </h2>
  <table id="general">
    <thead>
      <tr>
        <% @overall_stats.each do | stat | %>
          <td><%= stat[0] %></td>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @overall_stats.each do | stat | %>
          <td><%= number_with_delimiter(stat[1], :delimiter => ',') %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
  
  <h2>
    Weekly Stats
  </h2>
  <table id="general">
    <thead>
      <tr>
        <% @weekly_stats.each do | stat | %>
          <td><%= stat[0] %></td>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @weekly_stats.each do | stat | %>
          <td><%= number_with_delimiter(stat[1], :delimiter => ',') %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
  
  <h2>
    Most Recent Search History
  </h2>
  <table>
    <thead>
      <tr>
        <td>Artist/Band</td>
        <td>Search Type</td>
        <td>Date</td>
      </tr>
    </thead>
    <tbody>
      <% @recent_searches.each do | search | %>
        <tr url="<%= search[:url] %>">
          <td><%= search[:what] %></td>
          <td><%= search[:type] %></td>
          <td><%= search[:date] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <h2>
    Recent User Favorites
  </h2>
  <table>
    <thead>
      <tr>
        <td>Artist/Band</td>
        <td>Date</td>
      </tr>
    </thead>
    <tbody>
      <% @recent_favorites.each do | favorite | %>
        <tr url="<%= favorite[:url] %>">
          <td><%= favorite[:who] + " favorited " + favorite[:what] %></td>
          <td><%= favorite[:date] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>