<!DOCTYPE html>
<html>
  <head>
    <title>Tubalr - A simple tool for enjoying music videos!</title>

    <meta property="og:image" content="http://www.tubalr.com/assets/facebook-meta-logo.png"/>
    <meta name="Description" content="Tubalr is a simple way to enjoy great music videos.">
    <%= csrf_meta_tag %>

    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=PT+Sans:700", "http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600,800", asset_path("application") %>

    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-16656461-3']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <%= javascript_include_tag  "application" %>
    <%= javascript_tag do %>
      User.init({
        id:               <%= current_user.id %>,
        email:            <%= js_output(current_user.email) %>,
        username:         <%= js_output(current_user.username) %>,
        bannedVideos:     <%= js_output(current_user.banned_videos.map(&:video_id)) %>,
        hd:               <%= current_user.hd %>,
        lastfmConnected:  <%= current_user.lastfm_session_key ? 'true' : 'false' %>,
        resume_last_playlist: <%= current_user.resume_last_playlist %>,
      });
    <% end if user_signed_in? %>
  </head>
  <body>
    <div id="fb-root"></div>

    <div id="notices">
      <%= "<aside class='flash-msg'>#{flash[:notice]}</aside>".html_safe  if !flash[:notice].nil? %>
    </div>

    <div id="main-wrapper">

      <%= render :partial => 'header' %>

      <%= yield %>

      <%= render :partial => 'player' %>
    </div>

    <aside class="social">
      <iframe src="http://www.facebook.com/plugins/like.php?href=http://www.facebook.com/pages/Tubalr/154359441249128&amp;send=false&amp;layout=button_count&amp;width=80&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe>
      <a href="https://twitter.com/tubalr" class="twitter-follow-button" data-show-count="true">Follow @tubalr</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </aside>
  </body>
</html>
