<!DOCTYPE html>
<html>
  <head>
    <title>Tubalr - A simple tool for enjoying music videos!</title>

    <meta name="Description" content="Tubalr is a simple way to enjoy great music videos.">
    <%= csrf_meta_tag %>

    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Raleway:400,200",
      "http://fonts.googleapis.com/css?family=PT+Sans:700",
      "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css",
      "application" %>

    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-16656461-3']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <%= javascript_include_tag  "application" %>
  </head>
  <body ng-app="tubalr">
    <div id="left-section" ng-controller="LeftSectionCtrl">
      <div id="fixed-section">
        <h1><a href="/#/">tubalr</a></h1>
        <input ng-model="playlistsSearch" ng-keydown="onKey($event)"
          type="text" placeholder="Search for a playlist..." autofocus>
      </div>

      <div id="playlists">
        <h3 class="clickable-h3" ng-click="expandSubreddits = !expandSubreddits">
          Subreddits
          <i class="fa" ng-class="{'fa-chevron-up': !expandSubreddits, 'fa-chevron-down': expandSubreddits}"></i>
        </h3>
        <ul ng-show="expandSubreddits">
          <li ng-repeat="sr in <%= SUBREDDITS %> | filter:playlistsSearch">
            <a ng-href='#/r/{{sr}}'>{{sr}}</a>
          </li>
        </ul>
        <div ng-show="(<%= SUBREDDITS %> | filter:playlistsSearch).length == 0" class="playlists-msg">
          No results
        </div>

        <h3 class="clickable-h3" ng-click="expandGenres = !expandGenres">
          Genres
          <i class="fa" ng-class="{'fa-chevron-up': !expandGenres, 'fa-chevron-down': expandGenres}"></i>
        </h3>
        <ul ng-show="expandGenres">
          <li ng-repeat="genre in <%= GENRES %> | filter:playlistsSearch">
            <a ng-href='#/genres/{{genre}}'>{{genre}}</a>
          </li>
        </ul>
        <div ng-show="(<%= GENRES %> | filter:playlistsSearch).length == 0" class="playlists-msg">
          No results
        </div>
      </div>
    </div>

    <div id="right-section">
      <div ng-show="!loading && !error">
        <div id="player"></div>
      </div>
      <div ng-view></div>
    </div>

    <%= yield %>
  </body>
</html>
