<!DOCTYPE html>
<html>
  <head>
    <title>Tubalr - A simple tool for enjoying music videos!</title>

    <meta name="Description" content="Tubalr is a simple way to enjoy great music videos.">
    <%= csrf_meta_tag %>

    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Raleway:400,200",
      "http://fonts.googleapis.com/css?family=PT+Sans:700",
      "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css",
      "application" %>

    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-16656461-3']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <%= javascript_include_tag  "application" %>
  </head>
  <body ng-app="tubalr">
    <div id="left-section">
      <div id="fixed-section">
        <h1>tubalr</h1>
        <input ng-model="playlistsSearch" type="text" placeholder="Search for a playlist...">
      </div>

      <div id="playlists">
        <h3>Subreddits</h3>
        <ul>
          <li ng-repeat="sr in <%= SUBREDDITS %> | filter:playlistsSearch">
            <a ng-href='#/r/{{sr}}' ng-class="{'active-playlist': sr == playlist_search}">{{sr}}</a>
          </li>
          <li class="no-search-results" ng-show="(<%= GENRES %> | filter:playlistsSearch).length == 0">No results</li>
        </ul>

        <h3>Genres</h3>
        <ul>
          <li ng-repeat="genre in <%= GENRES %> | filter:playlistsSearch">
            <a ng-href='#/genres/{{genre}}' ng-class="{'active-playlist': genre == playlist_search}">{{genre}}</a>
          </li>
          <li class="no-search-results" ng-show="(<%= GENRES %> | filter:playlistsSearch).length == 0">No results</li>
        </ul>
      </div>
    </div>

    <div id="right-section">
      <div ng-show="!loading && !error">
        <div id="player"></div>
      </div>
      <div ng-view></div>
    </div>

    <%= yield %>
  </body>
</html>
