<!DOCTYPE html>
<html>
  <head>
    <title>Tubalr</title>
    <%= stylesheet_link_tag "main", "http://fonts.googleapis.com/css?family=Pacifico", "http://fonts.googleapis.com/css?family=Cabin" %>
    <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js", "https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js", "http://connect.facebook.net/en_US/all.js", "ga", "application" %>
    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="fb-root"></div>
    <div id="main" <%= "style='margin-top: 20px;'" if request.path.index("history") %>>
      <h1><a href='/'>tubalr</a></h1>
  
      <%= yield %>
    
      <footer>
        <iframe src="http://www.facebook.com/plugins/like.php?href=www.tubalr.com&amp;send=false&amp;layout=button_count&amp;width=80&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:85px; height:21px;" allowTransparency="true"></iframe>
        <% if !request.path.index("history") %><a href='/history' target='_blank'>What's being listened to?</a> -<% end %> Crafted By: <a href="http://twitter.com/codyjackstewart" target="_blank">Cody Stewart</a>
      </footer>
    </div>
  </body>
</html>
