<!DOCTYPE html>
<html>
  <head>
    <title>Tubalr</title>
    <%= stylesheet_link_tag     "http://fonts.googleapis.com/css?family=Pacifico",  "application" %>
    <%= javascript_include_tag  "http://connect.facebook.net/en_US/all.js",         "application" %>
    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="fb-root"></div>
    
    <%= "<aside class='flash-msg flash-msg-alert'><p>#{flash[:alert]}</p></aside>".html_safe    if !flash[:alert].nil?  %>
    <%= "<aside class='flash-msg flash-msg-notice'><p>#{flash[:notice]}</p></aside>".html_safe  if !flash[:notice].nil? %>
        
    <div id="main" <%= "style='margin-top: 20px;'" if request.path.index("stats") || request.env['PATH_INFO'].include?("users") %>>
      <nav>
        <%= link_to('Stats', '/stats') %> - 
        <% if user_signed_in? %>
          <%= link_to('Favs', "/#{current_user.username}/favorites") %> - 
          <%= link_to('Settings', '/users/edit') %> - 
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
        <% else %>  
          <%= link_to('Register', '/users/sign_up') %> -
          <%= link_to('Login', '/users/sign_in') %>
        <% end %>
      </nav>
    
      <h1><a href='/'>tubalr</a></h1>

      <%= yield %>

      <aside class="social">
        <a href="https://twitter.com/tubalr" target="_blank" class="twitter">Follow @tubalr!</a>        
        <iframe src="http://www.facebook.com/plugins/like.php?href=http://www.facebook.com/pages/Tubalr/154359441249128&amp;send=false&amp;layout=button_count&amp;width=80&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe>
      </aside>
    </div>
  </body>
</html>
