<!DOCTYPE html>
<html>
  <head>
    <title>Tubalr - A simple tool for enjoying music videos!</title>

    <meta name="Description" content="Tubalr is a simple way to enjoy great music videos.">
    <%= csrf_meta_tag %>

    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Cabin", "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", asset_path("application") %>

    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-16656461-3']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <%= javascript_include_tag  "application" %>
  </head>
  <body>
    <nav id="nav">
      <a href="/" class="nav-item <%= 'active' if request.path == root_path %>">tubalr</a>
      <a href="/reddit-playlists" class="nav-item <%= 'active' if request.path == reddit_playlists_path %>">Reddit Playlists</a>
      <a href="/genres" class="nav-item <%= 'active' if request.path == genres_path %>">Generes</a>
      <a href="/random" class="nav-item">Random</a>
    </nav>

    <%= yield %>
  </body>
</html>
