<!DOCTYPE html>
<html>
  <head>
    <title>Tubalr</title>
    <%= stylesheet_link_tag "main", "http://fonts.googleapis.com/css?family=Pacifico", "http://fonts.googleapis.com/css?family=Cabin" %>
    <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js", "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js", "http://connect.facebook.net/en_US/all.js", "rails", "ga", "application", "slimScroll" %>
    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="fb-root"></div>
    
    <%= "<aside class='flash-msg flash-msg-alert'><p>#{flash[:alert]}</p></aside>".html_safe if !flash[:alert].nil? %>
    <%= "<aside class='flash-msg flash-msg-notice'><p>#{flash[:notice]}</p></aside>".html_safe if !flash[:notice].nil? %>
    
    <div id="main" <%= "style='margin-top: 20px;'" if request.path.index("history") || request.env['PATH_INFO'].include?("users") %>>
      <h1 <%= "style='margin-bottom: 20px;'" if request.path.index("history") || request.env['PATH_INFO'].include?("users") %>><a href='/'>tubalr</a></h1>
           
      <%= yield %>

      <footer>
        <a href="/">Home</a> - <a href="/history">Search History</a> - <a href="http://www.tubalr.tumblr.com">Blog</a> - <%= user_signed_in? ? link_to('My Favorites', "/#{current_user.username}/favorites") + ' - ' + link_to('My Settings', '/users/edit') + ' - ' + link_to('Logout', destroy_user_session_path, :method => :delete) : link_to('Register', '/users/sign_up') + ' - ' + link_to('Login', '/users/sign_in') %><br/>
        <iframe src="http://www.facebook.com/plugins/like.php?href=www.tubalr.com&amp;send=false&amp;layout=button_count&amp;width=80&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:85px; height:21px;" allowTransparency="true"></iframe>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.tubalr.com/" data-text="@tubalr lets you search your favorite artist/band's top YouTube Videos, without the clutter." data-count="horizontal" data-via="codyjackstewart" data-related="tubalr">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
      </footer>
    </div>
    
    <script type="text/javascript">
    	var _usrp = {
    		type: "button",
    		company: "tubalr",
    		host: "tubalr.userrules.com",
    		mode: "advanced",
    		sso: {},
    		getVisitorId: function() {return "";},
    		getAdditionalParams: function() {return "";},
    		placement: "left",
    		color: ["#32312E", "#62615E"]
    	};

    	(function(D) {
    		var _usr = D.createElement("script"), s = D.getElementsByTagName("script")[0];
    		_usr.type = "text/javascript"; _usr.async = true;
    		_usr.src = ("https:" == D.location.protocol ? "https" : "http" ) + "://dtkm4pd19nw6z.cloudfront.net/js/userrules/9a41a826e957127b4e5bfc7d140e45c4/feedback.canary.js";
    		s.parentNode.insertBefore(_usr, s);
    	})(document);
    </script>
  </body>
</html>
